SFML-3.0.2/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.opendb
*.db
*.VC.db
*.VC.opendb
[Dd]ebug/
[Rr]elease/
[Dd]ebugPublic/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
.bin/
*.obj
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.o
*.out
*.app
*.so
*.dylib
*.d
*.slo
*.lo
*.gch
*.pch
*.mod
*.smod
*.lai
*.la
*.a
*.dwo
.vscode/
*.tmp
*.bak
*.log
*.tlog
*.lastbuildstate
*.vspscc
*.vssscc
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
_CPack_Packages/
CPackConfig.cmake
CPackSourceConfig.cmake
ipch/
*.aps
*.ncb
*.sdf
*.cache
*.intermediate.manifest
*.unsuccessfulbuild
vcpkg_installed/
*.orig
*.suo
*.user
*.sln.docstates
Browse.VC.db
*.exe.recipe
*.iobj
*.ipdb
$Recycle.Bin/
Thumbs.db
ehthumbs.db
Desktop.ini